$col-vision-black: #111111;
$col-vision-dark: #303030;
$col-vision-blue: #00adee;
$col-vision-cyan: #0091ad;
$col-vision-sky: #3ac9e6;
$col-angelic-purple: #8e0ea4;

$col-modal-background: #506091;
$col-bg-gradient-start: #2F395C;
$col-bg-gradient-end: #212A47;
$col-card-gradient-start: #3D4C79;
$col-card-gradient-end: #2F395C;

$bg-gradient-card: linear-gradient(to bottom right, $col-card-gradient-start, $col-card-gradient-end);

$bg-gradient-dark: linear-gradient(to bottom right, $col-bg-gradient-start, $col-bg-gradient-end);
$bg-gradient-light: linear-gradient(to bottom right, #fff, $col-bg-gradient-start);

$col-active: $col-vision-blue;
$col-primary: $col-active;
$col-secondary: #aaa;
$col-success: #3adb76;
$col-warning: #ffae00;
$col-error: #e94b35;

$col-lightgrey: #eeeef3;
$col-text: #888;
$col-white: #fff;

.gradient-background {
  background: linear-gradient(to bottom, $col-vision-blue, $col-angelic-purple);
}