.sidebar-nav-item {
    $fade-duration: .3s;
    @extend .flex-row;
    width: calc(100% - 0rem);
    height: 1rem;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0rem;
    // border-radius: 6px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    transition: all $fade-duration ease-in-out;

    &:hover {
        background: rgba($col-active, 0.3);
        color: rgba($col-active, 0.8);
        transition: all $fade-duration ease-in-out;
    }

    &.selected {
        // background: #f5f5f5;//rgba()
        background: #eeeeee;
        color: $col-active;
        font-weight: bold;
        transition: all $fade-duration ease-in-out;
    }

    span {
        margin-top: 0.2rem;
    }
}

.sidebar {
    &-collection {
        @extend .sidebar-nav-item;
        color: rgba(#999, 1);
    }

    &-item {
        @extend .sidebar-nav-item;
        font-size: 0.8rem;
        color: rgba(#888, 0.7);
    }
}

.explorer-input {
    background-color: rgba(white, 0) !important;
    color: $col-active !important;
    flex-grow: 1;

    margin: {
        top: -1px;
        bottom: -2px;
    }

    border-radius: 2em;
    text-indent: 1.5em;
}